{% extends "pages/base.html" %}
{% block content %}
<section class="managehero">
    <div class="managehero-content">
        <h1>Management Speak</h1>
        <p><a href="{% url 'home' %}">Home</a> › Management Speak</p>
    </div>
</section>

<section class="about-preview section-padding">
    <div class="container">
        <h2 class="section-title">Delivering Chemicals with Trust, Safety, and Innovation.</h2>
        <p class="section-subtitle">
            Founded in 2020 at Lathidad, Botad (Gujarat), Uma Tradelink has rapidly emerged as a trusted name in the
            chemical distribution industry. We specialize in basic chemicals, acids, bulk pharma intermediates, and dye intermediates, and proudly serve
            as authorised distributors for leading chemical brands.
        </p>   
        <p class="section-subtitle">
            With modern infrastructure and all required licenses, we ensure the safe storage and handling of hazardous
            and sensitive chemicals. Our own carriers and delivery vans guarantee timely and reliable deliveries across
            India.
        </p>
        <p class="section-subtitle">
            At Uma Tradelink, our philosophy is built on quality, trust, and sustainability. We are not just a supplier
            but a growth partner, delivering personalized service, competitive pricing, and on-schedule deliveries. Our team’s expertise, integrity, and customer-first approach drive our success. By embracing innovation and
            focusing on sustainability, we aim to create long-term value for our clients, communities, and stakeholders.
        </p>
    </div>
</section>
{% endblock %}